@model WebApplicationAzure.Models.Image

@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <p> Upload Image </p>
    <p>Description</p>
    <p>@Html.TextBoxFor(m => m.Description)</p>
    <p>@Html.TextBoxFor(m => m.ImagePath, new { type = "file", @class = "input-file" })</p>
    <input type="submit" value="upload" />

}

<table>
    <tr>
        <td>
            <table class="table" style="width:200px; ">
                <tr>
                    <td style="width:50%"> Image </td>
                    <td style="width:25%"> Delete </td>
                </tr>

                @foreach (var item in ViewBag.MyList)
                {
                    <tr>

                        <td> <img src="@item.ImagePath" alt="image here is" width="100" height="100" /> </td>
                        <td> <input type="button" id="@item.Id" onclick="deleteImage('@item.Id');" value="Delete" /> </td>
                    </tr>
                    <tr>

                        <td colspan="2"> <span>@item.Description</span> </td>

                    </tr>

                }

            </table>
        </td>
        <td style="width:100px"> </td>

</table>

<script>
    function deleteImage(item) {
        var url = "/Home/DeleteImg";
        $.post(url, { Id: item }, function (data) {
            window.location.href = "/Home/Upload";
        });
    }
</script>
